@font-face {
  src: url("../assets/webfonts/roboto/Roboto-Black-webfont.woff") format("woff"),
    url("../assets/webfonts/roboto/Roboto-Black.ttf") format("truetype");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
}
@font-face {
  src: url("../assets/webfonts/roboto/Roboto-Regular-webfont.woff")
      format("woff"),
    url("../assets/webfonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../assets/webfonts/roboto/Roboto-Thin-webfont.woff") format("woff"),
    url("../assets/webfonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
}
