* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

main {
  margin-top: 55px;
}

pre {
  margin-bottom: 0;
}

body {
  margin: 0;
  background: #fafafe;
}

a:hover {
  color: var(--ired);
  text-decoration: underline;
}

img {
  max-width: 100%;
}

a {
  color: var(--ired);
}
h2 {
  font-size: 28px;
  line-height: 34px;
  color: #363636;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 10px;
}
p {
  font-size: 14px;
  line-height: 1.6rem;
  font-weight: 100;
}

.site-container {
  padding: 100px 0 20px 0;
}

.section {
  padding: 55px 0 50px;
}
.section:nth-child(even) {
  background: #fff;
}

.section-head {
  margin: 20px 0;
  border: 1px solid #fafafe;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 10px;
}
.section-head h2 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.section-head span {
  padding-right: 5px;
  flex: 1;
  text-transform: uppercase;
}
.section-head span:last-child {
  font-weight: 700;
  color: var(--ired);
}

.section:nth-child(odd) form input,
.section:nth-child(odd) form textarea {
  background: #fff !important;
}

h2,
.line-heading {
  display: inline-block;
  position: relative;
}

.line-heading:after {
  content: "";
  width: 25px;
  height: 1px;
  display: inline-block;
  position: absolute;
  background: var(--ired);
  top: 100%;
  left: 0;
}
.see-more {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.see-more a {
  text-decoration: none;
  width: auto;
  height: auto;
  border: 2px solid var(--ired);
  color: #333;
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  display: inline-block;
  font-weight: 600;
  border-radius: 30px;
}
.see-more a:after {
  content: "";
  background: var(--ired);
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.see-more a:hover:after {
  top: 0;
}
.see-more a:hover {
  color: #fff;
}
.see-more a span {
  position: relative;
  z-index: 1;
}

.quote-box {
  width: 40%;
  position: relative;
}
.quote p {
  margin-left: 10%;
  text-align: justify;
  font-style: italic;
  font-weight: 100;
}

.quotation {
  color: var(--ired);
  font-size: 80px;
  z-index: 10;
}

.quotation-start {
  position: relative;
  top: -20px;
}

.quotation-end {
  position: absolute;
  right: 0;
  margin-top: -5%;
  margin-right: -10%;
}

.author {
  font-weight: bold;
  display: block;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .quote p {
    width: 75%;
  }
  .quotation-end {
    margin-top: -10%;
    margin-right: 0;
  }
}

.page-description {
  font-weight: 100;
}

//** PRICING TABLE **//

/*PRICE COLOR CODE START*/
.pricing-table .generic_content {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.pricing-table .generic_content .generic_head_price {
  background-color: #f6f6f6;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-color: var(--ired) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--ired);
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  color: #414141;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  color: #414141;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag .month {
  color: #414141;
}

.pricing-table .generic_content .generic_feature_list ul li {
  color: #a7a7a7;
}

.pricing-table .generic_content .generic_feature_list ul li {
  color: #414141;
}

.pricing-table {
  display: flex;
  justify-content: space-between;
}

/*PRICE BODY CODE START*/
.pricing-table .pricing_item {
  width: 300px;
}
@media (min-width: 1200px) {
  .pricing-table {
    .pricing_item {
      width: 360px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .pricing-table {
    align-items: CENTER;
    flex-direction: column;
    .pricing_item {
      margin-bottom: 40px;
      width: 500px;
    }
  }
}

// @media (max-width: 767px) {
//   .pricing-table .generic_content {
//     margin-bottom: 75px;
//   }
//   .pricing-table {
//     flex-direction: column;
//   }
// }
// @media (min-width: 768px) and (max-width: 991px) {
//   .pricing-table .generic_content {
//     margin-bottom: 75px;
//   }
// }

.pricing-table .generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.pricing-table .generic_content .generic_head_price {
  margin: 0 0 20px 0;
}

.pricing-table .generic_content .generic_head_price .generic_head_content {
  margin: 0 0 20px 0;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head {
  height: 95px;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding: 20px;
  line-height: 1.8rem;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag {
  padding: 0 0 20px;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag .price {
  display: block;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  vertical-align: super;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 40px;
  padding: 0 3px;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag .month {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
}

.pricing-table .generic_content .generic_feature_list p {
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 400;
}

.pricing-table .generic_content .generic_feature_list ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.pricing-table .generic_content .generic_feature_list ul li {
  font-size: 16px;
  padding: 5px 0;
  transition: all 0.3s ease-in-out 0s;
}
.pricing-table .generic_content .generic_feature_list ul li span {
  font-weight: 100;
}

.pricing-table .generic_content .generic_feature_list ul li:hover {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.pricing-table .generic_content .generic_feature_list ul li .fa {
  padding: 0 10px;
}
.pricing-table .generic_price_btn {
  margin: 20px 0 32px;
  flex: 1;
  display: flex;
  justify-content: center;
  a {
    align-self: flex-end;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;

    outline: medium none;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.pricing-table .generic_content,
.pricing-table .generic_content:hover,
.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg,
.pricing-table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head_bg,
.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  h2,
.pricing-table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head
  h2,
.pricing-table .generic_content .price,
.pricing-table .generic_content:hover .price,
.pricing-table .generic_content .generic_price_btn a,
.pricing-table .generic_content:hover .generic_price_btn a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
