//** PRICING TABLE **//

/*PRICE COLOR CODE START*/
.pricing-table .generic_content {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.pricing-table .generic_content .generic_head_price {
  background-color: #f6f6f6;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-color: var(--ired) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--ired);
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  color: #414141;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  color: #414141;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag .month {
  color: #414141;
}

.pricing-table .generic_content .generic_feature_list ul li {
  color: #a7a7a7;
}

.pricing-table .generic_content .generic_feature_list ul li {
  color: #414141;
}

.pricing-table {
  display: flex;
  justify-content: space-between;
}

/*PRICE BODY CODE START*/
.pricing-table,
.services-row {
  .row-item {
    width: 360px;
  }
}
@media (min-width: 1200px) {
  .pricing-table,
  .services-row {
    .row-item {
      width: 360px;
    }
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .pricing-table,
  .services-row {
    .row-item {
      width: 300px;
    }
  }
}
@media only screen and (min-width: 568px) and (max-width: 991px) {
  .pricing-table,
  .services-row {
    .row-item {
      width: 500px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .pricing-table,
  .services-row {
    align-items: CENTER;
    flex-direction: column;
    .row-item {
      margin-bottom: 40px;
    }
  }
}

.pricing-table .generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.pricing-table .generic_content .generic_head_price {
  margin: 0 0 20px 0;
}

.pricing-table .generic_content .generic_head_price .generic_head_content {
  margin: 0 0 20px 0;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head {
  height: 95px;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding: 20px;
  line-height: 2.8rem;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag {
  padding: 0 0 20px;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag .price {
  display: block;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 400;
  vertical-align: super;
}

.pricing-table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 5rem;
  padding: 0 3px;
}

.pricing-table .generic_content .generic_head_price .generic_price_tag .month {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.pricing-table .generic_content .generic_feature_list p {
  font-size: 1.6rem;
  padding: 0 10px;
  font-weight: 400;
  line-height: 2rem;
}

.pricing-table .generic_content .generic_feature_list ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.pricing-table .generic_content .generic_feature_list ul li {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out 0s;
}
.pricing-table .generic_content .generic_feature_list ul li span {
  font-weight: 100;
}

.pricing-table .generic_content .generic_feature_list ul li:hover {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.pricing-table .generic_content .generic_feature_list ul li .fa {
  padding: 0 10px;
}
.pricing-table .generic_price_btn {
  margin: 20px 0 32px;
  flex: 1;
  display: flex;
  justify-content: center;
  a {
    align-self: flex-end;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;

    outline: medium none;

    text-decoration: none;
    text-transform: uppercase;
  }
}

.pricing-table .generic_content,
.pricing-table .generic_content:hover,
.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg,
.pricing-table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head_bg,
.pricing-table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  h2,
.pricing-table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head
  h2,
.pricing-table .generic_content .price,
.pricing-table .generic_content:hover .price,
.pricing-table .generic_content .generic_price_btn a,
.pricing-table .generic_content:hover .generic_price_btn a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
