.testimonials .slick-list * {
  outline: none !important;
}
.slick-list {
  overflow: hidden;
}

.slick-slider .slick-list div {
  display: flex;
  width: 100%;
  text-align: center;
}
.slick-slider .slick-arrow {
  display: none !important;
}
.slick-dots {
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}
.slick-slider {
  position: relative;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}
.slick-dots li {
  display: inline-block;
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background: red;
}
.testi-inner {
  display: block !important;
  width: 700px !important;
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 100%;
}
.testi-inner .avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}
.testi-inner .name {
  margin: 0;
}

.testimonials {
  overflow: hidden;
  text-align: center;
}

.testi-inner h4 {
  margin-left: 20px;
}
